.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.advantages-list {
  display: flex;
}

.advantages-item:not(:last-child) {
  margin-right: 30px;
  max-width: 270px;
}

.advantages-logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages-title {
  margin-bottom: 10px;
}

.advantages-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
